.search
{
    position: absolute;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 10;
}

.search input {
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 100%;
  }

  .main
  {
      font-family: "Times New Roman";
      font-size: 15px;
  }

  .nes
  {
      font-style: italic;
      font-size: 15px;
      font-weight: bold;
  }